<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/stylesheets/style1.css">
        <link rel="stylesheet" href="/stylesheets/sortableTable.css">
    </head>

    <body>
        <header>
            <h1>Find Your Flix</h1>
        </header>
        <div>
            <h1 id="name"></h1>



            <table class='table table-sortable'>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Title</th>
                        <th>Rating</th>
                        <th>Number of Ratings</th>
                    </tr>
                </thead>
                <tbody id='topTrendingTable'></tbody>
            </table>



            <a href="/api/logout">
                <button id='logoutBtn' type="button">Log Out</button>
            </a>
        </div>
    </body>
    <script src="/javascripts/account.js"></script>
</html>
