<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/navBar.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <title>Flix - Sign Up</title>
    </head>
    
    <body>
        <header>
            <h1 id="appTitle"><img src="/resources/Logo.png" alt="Logo"></h1>
        </header>
        <form id="signupForm">
            <h1 class="topic">Create Account</h1>
            <br>
            <h2 id="errorMessage"></h2>
            <br>
            <input id='firstname' type="text" placeholder="First Name">
            <br>
            <input id='lastname' type="text" placeholder="Last Name">
            <br>
            <input id='user' type="email" placeholder="Email">
            <br>          
            <input id='pass' type="password" placeholder="Password">
            <br>
            <input id='repass' type="password" placeholder="Re-Enter Password">
            <br>
            <button id='btn' type="button">Sign up</button>
        </form>
        <footer>
            <p>Have an account? &nbsp;&nbsp;&nbsp;<a style="color: #82C7C2;" href="/login">Log in</a></p>
        </footer>
        <script src="/javascripts/createAccount.js"></script>
    </body>

</html>
