<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/stylesheets/style1.css">
    </head>
    
    <body>
        <header>
            <h1>Find Your Flix</h1>
        </header>
        <form id="signupForm">
            <h1 class="topic">Create Account</h1>
            <input type="email" placeholder="Email">
            <br>           
            <input type="password" placeholder="Password">
            <br>
            <input type="password" placeholder="Re-Enter Password">
            <br>
            <button type="submit">Sign up</button>
        </form>
        <footer>
            <p>Have an account? <a href="/login">Log in</a></p>
        </footer>  
    </body>

</html>
