<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/public/stylesheets/style1.css">
    </head>
    
    <body>
        <header>
            <h1>Find Your Flix</h1>
        </header>
        <form id="signupForm">
            <h1 class="topic">Create Account</h1>
            <h2 id="errorMessage"></h2>
            <input id='user' type="email" placeholder="Email">
            <br>           
            <input id='pass' type="password" placeholder="Password">
            <br>
            <input id='repass' type="password" placeholder="Re-Enter Password">
            <br>
            <button id='btn' type="button">Sign up</button>
        </form>
        <footer>
            <p>Have an account? <a href="/login">Log in</a></p>
        </footer>
        <script src="/public/javascripts/createAccount.js"></script>
    </body>

</html>
