<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <title>Flix - Home</title>
    </head>
    <body>
        <header id="homepageHeader">
            <h1 id="appTitle"><img src="/resources/Logo.png" alt="Logo"></h1>
        </header>
        <div>
            <a href="/login">
                <button id='btn' type="button">Login cho dong</button>
            </a>
            <br>
            <a href="/signup">
                <button id='btn' type="button">Sign Up</button>
            </a>
        </div>
    </body>
</html>
