<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../public/stylesheets/style1.css">
    </head>

    <body>
        <header>
            <h1>Find Your Flix</h1>
        </header>
        <div>
            <h1 class="topic">Login</h1>
            <input type="email" placeholder="Email">
            <br>           
            <input type="password" placeholder="Password">
            <br>
            <button type="button">Login</button>
        </div>
        <footer>
            <p>Don't have an account? <a href="createAccount.html">Sign up here</a></p>
        </footer>
    </body>

</html>
