<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/stylesheets/style1.css">
        <title>Flix - Login</title>
    </head>

    <body>
        <header>
            <h1>Find Your Flix</h1>
        </header>
        <form id="loginForm">
            <h1 class="topic">Login</h1>
            <h2 id="errorMessage"></h2>
            <input id='user' type="email" placeholder="Email">
            <br>           
            <input id='pass' type="password" placeholder="Password">
            <br>
            <button id='btn' type="button">Login</button>
        </form>
        <footer>
            <p>Don't have an account? <a href="/signup">Sign up here</a></p>
        </footer>
        <script src="/javascripts/login.js"></script>
    </body>

</html>
