<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/stylesheets/style1.css">
    </head>

    <body>
        <header>
            <h1>Find Your Flix</h1>
        </header>
        <form id="loginForm">
            <h1 class="topic">Login</h1>
            <input id='user' type="email" placeholder="Email">
            <br>           
            <input id='pass' type="password" placeholder="Password">
            <br>
            <button type="submit">Login</button>
        </form>
        <footer>
            <p>Don't have an account? <a href="/signup">Sign up here</a></p>
        </footer>
        <script>
            let loginCredentials = {
                email: document.getElementById('user').value,
                password: document.getElementById('pass').value
            }
            fetch('http://localhost:3000/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(loginCredentials),
                })
                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
                })
                .catch((error) => {
                console.error('Error:', error);
                });

        </script>
    </body>

</html>
