<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/navBar.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <title>Flix - Settings</title>
    </head>

    <body>
        <header>
            <h1 id="appTitle" onclick="goBack()"><img src="/resources/Logo.png" alt="Logo"></h1>
            <nav>
                <ul class="navList">
                    <li class="navItem"><a class="navLink" href="/account">Home</a></li>
                    <li class="navItem"><a class="navLink" href="/account/trending">Trending</a></li>
                    <li class="navItem"><a class="navLink" href="/account/now_playing">Now Playing</a></li>
                    <li class="navItem"><a class="navLink" href="/account/settings">Settings</a></li>
                    <li class="navItem"><a class="navLink" href="/api/Logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <h1 class="simpleTextHeader">Settings</h1>
            <br>
            <p>Change Password:</p>
            <form id="changePasswordForm">
                <input id='newpass' type="password" placeholder="Enter New Password">
                <button id='passBtn' class='btn' type="button">Change Password</button>
                <h2 id="errorMessage"></h2>
                <h2 id="message"></h2>
            </form>
            <p>Delete Account:</p>
            <button id='deleteBtn' class='btn' type="button">Delete Account</button>
        </div>
    </body>

    <script src="/javascripts/settings.js"></script>

</html>