<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/sortableTable.css">
        <link rel="stylesheet" href="/stylesheets/navBar.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <title>Flix - Trending Movies</title>
    </head>

    <body>
        <header>
            <h1 id="appTitle" onclick="goBack()"><img src="/resources/Logo.png" alt="Logo"></h1>
            <nav>
                <ul class="navList">
                    <li class="navItem"><a class="navLink" href="/account">Home</a></li>
                    <li class="navItem"><a class="navLink" href="/account/trending">Trending</a></li>
                    <li class="navItem"><a class="navLink" href="/account/now_playing">Now Playing</a></li>
                    <li class="navItem"><a class="navLink" href="/account/settings">Settings</a></li>
                    <li class="navItem"><a class="navLink" href="/api/Logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <h1 id="name" class="simpleTextHeader">Trending: </h1>
            <br>
            <main>
                <table>
                    <thead>
                        <tr>
                            <th id='rank' onclick="sortByRank()">Rank ▲</th>
                            <th id='title' onclick="sortByTitle()">Title ▲▼</th>
                            <th id='rating' onclick="sortByRating()">Rating ▲▼</th>
                            <th id='numOfRate' onclick="sortByNumOfRate()">Number of Ratings ▲▼</th>
                            <th id='like'></th>
                            <th id='watch'></th>
                        </tr>
                    </thead>
                    <tbody id='tableBody'></tbody>
                </table>
                <div class='pageBtns'>
                    <h2 id='movePrev' onclick='moveToPrevPage()'></h2>
                    <h2 id='moveNext' onclick='moveToNextPage()'><img src="/resources/Next.png" alt="Next"></h2>
                </div>
            </main>

        </div>
    </body>

    <script src="/javascripts/fetchMovies.js"></script>

</html>