html {
    height: 100%;
    background: #191610;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.topic {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #c5c5c5;
    font-size: 40pt;
    letter-spacing: 1.5px;
    text-align: center;
}

.errors {
    color: #be4b5e;
}

form, div, #homepageHeader {
    margin: 5px;
    text-align: center;
}

input {
    margin: 5px;
    border-radius: 5px;
    border: 2px solid darkgray;
    padding: 20px; 
    width: 270px;
    height: 3px;
}

.simpleTextHeader {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #c5c5c5;
    font-size: 40pt;
    letter-spacing: 1.5px;
    text-align: center;
}

#btn, .btn {
    border: none;
    border-radius: 5px;
    color: #FFFFFA;
    background-color: #40434E;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    width: 200px;
    height: 35px;
    margin: 25px;
    cursor: pointer;
}

#btn:hover, .btn:hover {
    box-shadow: 2px 1px 10px 2px #2A2C31;

}

p {
    color: #FFFFFA;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#errorMessage {
    font-size: 15px;
    color: #be4b5e;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#message {
    font-size: 15px;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#movePrev {
    display:inline;
    float:left;
    margin-left: 40%;
    font-size: 50pt;
    cursor: pointer;
}

#moveNext {
    display:inline;
    float:right;
    margin-right: 40%;
    font-size: 50pt;
    cursor: pointer;
}