table {
    border-radius: 5px;
    border-spacing: 0;
    border-collapse: separate;
    margin: auto;
}

table th:first-child {
    border-top-left-radius: 5px;
}

table th:last-child {
    border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

th {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #488F7E;
    color: white;
    padding: 0.75em;
    cursor: pointer;
}

td {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    background-color: #FFFFFA;
    padding: 0.75em;
}

tr:nth-child(odd) td {
    background-color: #F8F8F8
}
