table {
    border-collapse: collapse;
}

th {
    background-color: orangered;
    color: white;
    padding: 4px 30px 4px 8px;
}

td {
    text-align: left;
    border : 1px solid #e3e3e3;
    background-color: #e3e3e3;
    padding: 4px 8px;
}

tr:nth-child(odd) td {
    background-color: #e7edf0
}
